body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
}

.loading {
    animation: wave 1.5s ease-in-out infinite;
}

@keyframes wave {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}